#lay0{
    margin-top: 140px;
}

@media (max-width: 729px){
    #lay1{
        width: 90%;
    }
    #lay2{
        width: 100%;
        margin-top: 30px;
    }
}
@media (min-width: 730px){
    #lay1{
        width: 40%;
        float: left;
    }
    #lay2{
        margin-left: 2%;
        width: 58%;
        float: left;
    }
}

#lay1_img1{
    width: 100%;
}

#lay2_title{
    font-size: 40px; font-weight: 700;
}
#lay2_sub{
    font-size: 16px; font-weight: 500;
    color: rgb(120,120,120);
}
#lay2_btn{
    margin-top: 20px;
    padding-left: 15px; padding-right: 15px;
    padding-top: 3px; padding-bottom: 3px;
    border-radius: 10px;
    font-size: 19px; font-weight: 500; color: white;
    background: rgb(250,200,20);
}

#lay3{
    width: 100%;
    margin-top: 70px;
}
#lay3_txt{
    font-size: 18px;
}